/* This is a stylesheet that all of the app's pages will use.
 * Prepend {% load static %} to a template and link the stylesheet normally.
 * Example in templates/chemical.html
*/


body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f2fbff;
   padding: 3vw;
}


/* header bar on all pages */

.header {
   font-size: calc(22px + 0.5vw);
   padding-right: 2vw;
   padding-left: 1.5vw;
   margin-top: 1vw;
   margin-bottom: 1.5vh;
   font-family: Arial, Helvetica, sans-serif;
   color: #314876;
   display: inline;
}

.header h4 {
   display: inline;
   color: #314876;
}

.header img {
   position: absolute;
   right: 3vw;
   top: 3vw;
   width: 10vw;
}

.header-bottom {
   height: 1.5vh;
   width: 100vw;
   margin-bottom: (8px + 0.1vw);
   background-image: linear-gradient(rgba(150, 150, 150, 0.2), rgba(255, 255, 255, 0));
}


/* standard text tags */

h1 {
   font-size: 8.5vw;
   color: #103071;
   margin-bottom: 0.5vh;
   margin-top: 0.1vh;
}

h2 {
   font-size: 6vw;
   color: #103071;
}

h3 {
   color: #1cb16c;
   font-family: Verdana, Tahoma, sans-serif;
   text-transform: uppercase;
   font-weight: medium;
   font-size: 20px + 0.1vw;
   margin-top: 3vw;
   margin-bottom: 1vw;
}

p, p a, td, td a, li, li a {
   font-size: 4vw;
   color: #71a7a3;
   padding: 0vh;
   margin: 0vh;
   text-decoration: none;
}

td {
   text-align: center;
}

td a {
   display: block;
}

p strong {
   font-size: 4vw;
   color: #608a8e;
}

.hoverable:hover {
   text-decoration: underline;
   text-decoration-color: #608a8e;
}

th {
   font-size: 4vw;
   color: #608a8e;
}

.indented {
   padding-left: 4vw;
   padding-right: 4vw;
   padding-bottom: 2vw;
}

a:link, a:visited, a:hover, a:active{
   text-decoration: none;
 }

/* chemical entry dropdown attributes */
#addChem {
   padding-top: 3px; 
   padding-bottom: 3px; 
   margin-left: 5%;
   text-align: center; 
   outline-color: none; 
   background-color: #608a8e;
   color: #ffffff; 
   border-width: 0px; 
   border-radius: 1em; 
   width: 10em; 
   height: 2em;
}

#trSlide {
   appearance: none; 
   width: 60%; 
   height: 5px; 
   color: #ffffff;
   background-color: #608a8e; 
   opacity: 0.6; 
   margin-left: 15%;
}

#name {
   width: 70vw
}

.input {
   background-color: #314876;
   color: #ffffff;
   transition-duration: 0.5s;
   font-size: 10;
}

.input:hover {
   background-color: #103071;
}

.button {
   display: flex;
}

.content{
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}