{% load chemlogs_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History for {{chemical.name}}</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chemlogs/images/icon.png' %}">

    <style>
        #cas-and-amount li {
            display: inline;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/chemlogs/chemicalSearch"><img src="{% static 'chemlogs/images/icon.png' %}">
            <h4>ChemLogs</h4></a>
    </div>
    <div class="header-bottom"></div>

    <p style="margin: 4vw; margin-bottom: 0vw;"><strong>{{chemical.formula|displayFormula}}&emsp;{{chemical.cas}}&emsp;<a href="{{chemical.safety}}">SDS</a></strong></p>
    <h1 style="margin: 4vw; margin-top: 1vw; margin-bottom: -8vw;">{{chemical.name}}</h1>
    <!--<ul id="cas-and-amount">
        <li style="text-align: left;">{{chemical.cas}}</li>
        <li style="text-align: right;">{{chemical.computeAmount}}[units]</li>
    </ul>-->
    <br>
    <!-- the following 3 displayed attributes should probably be included 
        with the specific bottle dropdowns if we end up doing that instead of
        at the top, but since we're doing a bottle per page rn they're here;
        I dont think the threshold needs to be displayed - if the notif page 
        works they can just check that-->
    <!-- they have been moved to container.html
    <p><strong>Storage Location: {{chemical.loc}}</strong></p>
    <p><strong>Chemical State: {{chemical.state}}</strong></p>
    <p><strong>Initial Amount: {{chemical.init_vol}}</strong></p>-->
    
    <div id="chemicalPage">
    
    <div style="display: flex;">
    
    <div style="display: inline;">
    
    <button id="del" class="collapsible" onclick="toggleVisibilityId('chemDeleteForm')">Remove this chemical</button>
    <button type="button" id="editChem" class="collapsible" onclick="toggleVisibilityId('editChemForm')"
        style="width: fit-content; height: fit-content; font-size: 4vw;">Edit Chemical
    </button>
    
    <div class="content" id="chemDeleteForm">
    <form method="POST">
        {% csrf_token %}
        <p>Warning: deleting this chemical will delete all its states and containers ({{chemical.chemicalstate_set.count}} states and {{chemical.getContainerCount}} containers). Are you sure you want to delete "{{chemical}}" and all associated data?</p>
        <input type="submit" id="del" name="delete_chemical_anyway" value="Delete anyway">
    </form>
    <button onclick="hideId('chemDeleteForm')" style="margin-bottom: 2vw; margin-top: 1vw;">Cancel</button>
    </div>
    </div>
        
    </div>

    <div class="content" style="display: block; padding: 1vw; text-align: left;" id="editChemForm">
    <form method="POST">
        {% csrf_token %}
        {{ chemical_edit_form.as_p }}
        <input type="submit" id="submit" name="edit_chemical" value="Save">
    </form></div></div>

    <button type="button" id="addChem" class="collapsible" onclick="toggleVisibilityId('newContainerForm')" style="margin-top: 0vw;">
        <span>New Container</span>
    </button>
    <div id="newContainerForm" class="content" style="display: block; padding-left: -4vw; text-align:left, margin-top=-2vw">
    <form method="POST">
        {% csrf_token %}
        {{ container_create_form.as_p }}
        <input type="submit" id="submit" name="new_container" value="Create">
    </form></div>
    {% if new_container_id %}
    <!-- tell the user the new container's id -->
    <form method="POST">
        {% csrf_token %}
    <p>You have made a new container. Its id is {{new_container_id}}. Please mark it physically
        with this id.</p>
    <input type="submit" id="submit" name="do_nothing" value="Understood">
    </form>
    {% endif %}
    
    <!-- this block needs to be formatted (see discord for sketch) -->
    {% for state in chemical.chemicalstate_set.all %}
    <div class="state">
        <h2 style="margin: 1.5vw;">State: {{state.getInfo|capfirst}}</h2>
    </div>
    <p>{{state.computeAmount|floatformat:2}}g in stock</p>
    <button class="collapsible" onclick="toggleVisibilityId('stateDeleteForm{{state.id}}')">Remove this state</button>
    <button class="collapsible" onclick="toggleVisibilityId('stateEditForm{{state.id}}'); document.getElementById('stateEditForm{{state.id}}').firstChild.childNodes[1].value = {{}}">Edit State</button>
    <div style="display: block;" class="content" id="stateDeleteForm{{state.id}}">
    <form method="POST">
        {% csrf_token %}
        <p>Warning: deleting this state will delete all its containers ({{state.container_set.count}} containers). Are you sure you want to delete "{{state.getAllInfo}}" and all associated data?</p>
        <input type="submit" id="submit" name="delete_state_anyway_{{state.id}}" value="Delete anyway">
    </form>
    <button onclick="hideId('stateDeleteForm{{state.id}}')">Cancel</button>
    </div>

    <div style="display: inline;">
    
    <div class="content" style="display: block; padding: 1vw; text-align: left;" id="stateEditForm{{state.id}}">
    <form method="POST">
        {% csrf_token %}
        {{ state_edit_form.as_p }}
        <input type="submit" id="submit" name="edit_state_{{state.id}}" value="Save">
    </form></div>

    <!-- we don't need this if there's no transaction creation on this page
    <button type="button" id="addChem" class="collapsible" onclick="down()"> 
        Add chemical <span id="addDropdown">&#9660;</span>
    </button>
    -->
    
    {% for container in state.container_set.all %}
    <h3 class="hoverable"><a href="/chemlogs/container/{{container.id}}">Container {{container.getHeader}}</a></h3>
    <p>Current amount: {{container.getDisplayableAmount}}</p>
    <!-- we don't necessarily need the add transaction button on this page
    <button type="button" id="addChem" class="collapsible" onclick="down()"> 
        Add chemical <span id="addDropdown">&#9660;</span>
        </button>
    <div class="content" style="display: none; padding-top: 1em;">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" id="submit" class="content" value="Add">
            <input onclick="negateSliderValue()" type="submit" id="submit" class="content" value="Remove">
        </form>
    </div>-->
    {% if container.noDisplayableTransactions %}
    <p>No transactions to display</p>
    {% else %}
    <p>Transaction history:</p>
    <table class="indented">
        <tr>
            <th>Date/Time</th>
            <th>Amount ({{container.getUnits}})</th>
            <th>Added or Removed</th>
            <th>User</th>
        </tr>
        {% for transaction in container.getRecentDisplayableTransactions %}
        <tr class="hoverable">
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.time}}</a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.getAbsoluteAmount}}<!--{{chemical.unit}}--></a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{% if transaction.amount > 0 %}Added{% else %}Removed{% endif %}</a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.user}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endfor %} <!-- close container loop -->
    {% endfor %} <!-- close state loop -->
    
    </div>

    <script src="{% static 'chemlogs/chemScript.js' %}">  </script>

    <!-- from from https://stackoverflow.com/questions/9377951/how-to-remember-scroll-position-and-scroll-back -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        if (localStorage.getItem("chemlogs-quote-scroll") != null) {
            $(window).scrollTop(localStorage.getItem("chemlogs-quote-scroll"));
        }
        $(window).on("scroll", function() {
            localStorage.setItem("chemlogs-quote-scroll", $(window).scrollTop());
        });
    });
    </script>
</body>
</html>