{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{chemical.name}}</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
</head>
<body>
    <div class="header">
        <h4>CHEMLOGS</h4>
    </div>
    
    <h1>{{chemical.name}}</h1>
    <p>{{chemical.formula}}</p>
    <p>{{chemical.cas}}</p>
    <p>{{chemical.safety}}</p>

    <!-- list/table of transactions that link to transaction pages -->
</body>
</html>