<!-- Search for a chemical. Also displays overall transaction history -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chemlogs/images/icon.png' %}">
</head>

<body>
    <div class="header">
        <a href="{% url 'chemlogs:chemicalSearch' %}"><img src="{% static 'chemlogs/images/icon.png' %}">
            <h4>ChemLogs</h4></a>
    </div>
    <div class="header-bottom"></div>
    <br>

    <form method="POST" style="margin: auto; width: fit-content; height: fit-content;" class="small-input" autocapitalize="on">
        {% csrf_token %}
        <div style="display: flex; flex-wrap: nowrap; align-items: center; justify-content: center; gap: 2vw;" autocapitalize="off">
        <!--<input type="text" maxlength="2" minlength="2" style="display: inline; width: 20vw;">-->

        {{ go_to_container_form }}
        <input type=submit value="... jump to container" name="go_to_container">
        </div>
        {% if container_not_exist %}
        <p>There is no container with this id.</p>
        {% endif %}
    </form><br>

    <!-- from https://learndjango.com/tutorials/django-search-tutorial -->

    <div class="center">
    <button type="button" id="addChem" onclick="toggleVisibilityId('addChemForm')">Create New Chemical</button>
    </div>
    <div class="content" id="addChemForm">
    <form method="POST">
        {% csrf_token %}
        {{ chemical_create_form.as_p }}
        <input type="submit" id="submit" name="new_chemical" value="Create">
    </form></div>

    <div class="header-bottom"></div>

    <div id="searchDiv">
    <form action="/chemlogs/chemicalSearch/" method="GET">
        <h3>Chemical Search</h3>
        <div style="display: flex; align-items: center; padding: 0;">
        <input name="name" type="text" id="searchbar" placeholder="Enter name, formula, or CAS" style="padding: 2vw;">
        <input type="image" id="search-button" src='{% static "chemlogs/images/search.png" %}' style="height: 5vw; margin: auto;">
        </div>
        <br> </div>
        <input type="checkbox" id="requireSomeInStock" name="requireSomeInStock" value="true">
        <label for="requireSomeInStock">Only show chemicals that are in stock</label><br>
    </form><br>

    <div id="results">
    <h4 id="resultTxt">
    {% if none_filtered %}
    All chemicals:
    {% elif all_shown %}
    Search Results:
    {% else %}
    Top search results:
    {% endif %}
    </h4>
    <ul>
        {% for chemical in shown_chemicals %}
        <li class="hoverable"><a href="{% url 'chemlogs:chemical' chemical_id=chemical.id %}">
        {{ chemical }}
        </a></li>
        {% empty %}
        <p>No results</p>
        {% endfor %}
    </ul>
    </div>

    <div class="header-bottom"></div>
    <div id="transactTbl">
    <h3>Recent Transaction History</h3> 
    <a href="{% url 'chemlogs:exportCSV' %}"><img src="{% static 'chemlogs/images/download.png' %}"></a>
    <table>
        <tr>
            <th>Date</th>
            <th>Chemical</th><!-- includes state -->
            <th>Container</th><!-- full header -->
            <th>Amt</th>
            <th>Type</th><!-- like add/remove, reset, or create container -->
        </tr>
        {% for action in actions %}
        <tr>
            <td><a href="{% url 'chemlogs:transaction' transaction_id=action.id %}">{{action.time|date:"m-d"}}</a></td>
            <td><a href="{% url 'chemlogs:transaction' transaction_id=action.id %}">{{action.container.contents.chemical}} ({{action.container.contents.getInfo}})</a></td>
            <td><a href="{% url 'chemlogs:transaction' transaction_id=action.id %}">{{action.container.getHeader}}</a></td>
            <td><a href="{% url 'chemlogs:transaction' transaction_id=action.id %}">{{action.getAbsoluteAmount}}</a></td>
            <td><a href="{% url 'chemlogs:transaction' transaction_id=action.id %}">{% if action.type == "R" %}Reset {% elif action.type == "N" %}New Container{% elif action.amount > 0 %}Added{% else %}Removed{% endif %}</a></td><!-- this gets the verbose name of action.type -->
        </tr>
        {% endfor %}
    </table></div>

</body>

<script src="{% static 'chemlogs/chemScript.js' %}"></script>

</html>