<!-- search for a chemical -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical Search</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style/style.css' %}">
</head>
<body>
    <div class="header">
        <h4>ChemLogs</h4>
    </div>
    <div class="header-bottom"></div>

    <!-- from https://learndjango.com/tutorials/django-search-tutorial -->
    <h1>Search Results</h1>

    {% if object_list %}
    <ul>
        {% for chemical in object_list %}
        <li class="hoverable"><a href="/chemlogs/chemical/{{chemical.id}}/">
        {{ chemical }} -- {{ chemical.computeAmount }} in stock
        </a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results</p>
    {% endif %}

    <form action="/chemlogs/chemicalSearch/" method="get">
        <fieldset>
            <legend><h2>Filters</h2></legend>
            <input name="name" type="text" placeholder="Search by chemical name or formula"
                style="width: 70vw;"><br>
            <input type="checkbox" id="requireSomeInStock" name="requireSomeInStock" value="true">
            <label for="requireSomeInStock">Only show chemicals that are in stock</label><br>
        </fieldset>
        <input type="submit" value="Search">
    </form>
</body>
</html>