{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Container {{container.id}}</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style/style.css' %}">
</head>
<body onload="modifySlider()">
    <div class="header">
        <h4>ChemLogs</h4>
        <a href="/chemlogs/chemicalSearch"><img src="{% static 'chemlogs/images/home.jpg' %}"></a>
    </div>
    <div class="header-bottom"></div>

    <h3>{{container.contents.chemical}} {{container.getHeader}}</h3>
    <p style="position: absolute;">{{container.contents.chemical.cas}}</p>
    <p style="position: absolute; right: 6vw;">{{container.computeAmount|floatformat:2}}g/mL in stock</p>
    <br>
    <p style="position: absolute; right: 6vw;" class="hoverable"><a href="/chemlogs/chemical/{{container.contents.chemical.id}}/">Return to Chemical Page</a></p>
    <p><strong>Storage Location: {{container.loc}}</strong></p>
    <p><strong>Chemical State: {{container.contents.getInfo}}{% if container.molarity is True %} {{container.molarity}}{% endif %}</strong></p>
    <p><strong>Initial Amount: {{container.initial_value}}</strong></p>
    <br>

    <button type="button" id="addChem" class="collapsible" onclick="down()"> 
        Add chemical <span id="addDropdown">&#9660;</span>
        </button>
    <div class="content" style="display: none; padding-top: 1em;">
        <form method="post">
            {% csrf_token %}
            {{ transact_form }}
            <input type="submit" id="submit" name="transact_add" class="content" value="Add">
            <input type="submit" id="submit" name="transact_remove" class="content" value="Remove">
        </form>
    </div>

    <br><br>
    <p>Something looks off? Override the current volume/mass.</p>
    <form method="post">
        {% csrf_token %}
        {{ override_form }}
        <input type="submit" id="submit" name="override" value="Reset">
    </form>

    <h3>Transaction History</h3>
    <table class="indented">
        <tr>
            <th>Date/Time</th>
            <th>Amount [g/mL]</th>
            <th>Added or Removed</th>
        </tr>
        {% for transaction in container.getTransactionsToDisplay %}
        <tr class="hoverable">
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.time}}</a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.getAbsoluteAmount}}</a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{% if transaction.type == "R" %}Reset{% elif transaction.amount > 0 %}Added{% else %}Removed{% endif %}</a></td>
        </tr>
        {% endfor %}
    </table>

    <script src="{% static 'chemlogs/chemScript.js' %}"> </script>

</body>
</html>