{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
</head>
<body>
    <div class="header">
        <h4>ChemLogs</h4>
    </div>
    <div class="header-bottom"></div>

    <h3>Overall Transaction History</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>Chemical</th><!-- includes state -->
            <th>Container</th><!-- full header -->
            <th>Amount</th>
            <th>Type</th><!-- like add/remove, reset, or create container -->
        </tr>
        {% for action in actions %}
        <tr>
            <td><a href="/chemlogs/transaction/{{action.id}}">{{action.time.month}}/{{action.time.day}}</a></td> <!-- don't show time of day -->
            <td><a href="/chemlogs/transaction/{{action.id}}">{{action.container.contents.chemical}} ({{action.container.contents.getInfo}})</a></td>
            <td><a href="/chemlogs/transaction/{{action.id}}">{{action.container.getHeader}}</a></td>
            <td><a href="/chemlogs/transaction/{{action.id}}">{{action.amount}}</a></td>
            <td><a href="/chemlogs/transaction/{{action.id}}">{{action.get_type_display}}</a></td><!-- this gets the verbose name of action.type -->
        </tr>
        {% endfor %}
    </table>
</body>
</html>