{% load chemlogs_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History for {{chemical.name}}</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">

    <style>
        #cas-and-amount li {
            display: inline;
        }
    </style>
</head>

<body>
    <div class="header">
        <h4>ChemLogs</h4>
    </div>
    <div class="header-bottom"></div> <!-- maybe replace this with an <hr> -->

    <p><strong>{{chemical.formula|displayFormula}}</strong></p>
    <h1>{{chemical.name}}</h1>
    <!--<ul id="cas-and-amount">
        <li style="text-align: left;">{{chemical.cas}}</li>
        <li style="text-align: right;">{{chemical.computeAmount}}[units]</li>
    </ul>-->
    <p style="position: absolute;">{{chemical.cas}}</p>
    <p style="position: absolute; right: 6vw;">{{chemical.computeAmount}}[units] in stock</p>
    <br>
    <h3>Hazard Alert</h3>
    <p class="indented">{{chemical.safety}}</p>
    
    <h3>Transaction History</h3>

    <table class="indented">
        <tr>
            <th>Date/Time</th>
            <th>Amount [units]</th>
            <th>Added or Removed</th>
        </tr>
        {% for transaction in chemical.getTransactions %}
        <tr class="hoverable">
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.time}}</a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{{transaction.getAbsoluteAmount}}<!--{{chemical.unit}}--></a></td>
            <td><a href="/chemlogs/transaction/{{transaction.id}}">{% if transaction.amount > 0 %}Added{% else %}Removed{% endif %}</a></td>
        </tr></a>
        {% endfor %}
    </table>
</body>

</html>