{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{transaction.chemical.name}} Transaction {{transaction.id}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chemlogs/images/icon.png' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'chemlogs:chemicalSearch' %}"><img src="{% static 'chemlogs/images/icon.png' %}">
            <h4>ChemLogs</h4></a>
    </div>
    <div class="header-bottom"></div>
    
    <!--<form action="/chemlogs/transaction/{{transaction.id}}/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Modify Transaction</h2></legend>
            <p>Chemical: {{transaction.chemical.name}}</p>
            <p>Date: {{transaction.time.date}}</p>
            <p>Time: {{transaction.time.time}}</p>
            <label for="amount">Amount {% if transaction.amount > 0 %}added{% else %}removed{% endif %}: </label>
            <input id="amount" name="amount" type="text" value="{{transaction.getAbsoluteAmount}}">
        </fieldset>
        <input type="submit" value="Change">
    </form>-->

    <div id="transaction">
    <h2>Modify Transaction</h2>
    <div style="line-height: 7vw;">
    <p><a href="{% url 'chemlogs:chemical' chemical_id=transaction.container.contents.chemical.id %}">
        Chemical: {{transaction.container.contents.chemical.name}} ({{transaction.container.contents.getInfo}})
    </a></p>
    <p><a href="{% url 'chemlogs:container' container_id=transaction.container.id %}">
        Container: {{transaction.container.getHeader}}
    </a></p>
    <p>Date: {{transaction.time.date}}</p>
    <p>Time: {{transaction.time.time}}</p>
    <p>Actual transaction.time for reference: {{transaction.time}}</p>
    <p>User: {{transaction.user}}</p>
    </div>

    <br>
    <p><strong>If this transaction was recorded incorrectly, fix it here. Note: this will affect the current bottle contents.</strong></p>
    <form method="POST" id="modifyTransaction" class="small-input">
        {% csrf_token %}
        <p>
            {{ edit_form.type.errors }}
            {{ edit_form.type.label_tag }}
            {{ edit_form.type }}
        </p>
        <p>
            {{ edit_form.amount.errors }}
            {{ edit_form.amount.label_tag }}
            {{ edit_form.amount }}
            <input type="submit" value="Save Changes" style="margin-left: 1vw; width: 100%;">
        </p>
    </form>
    <br>
    <p class="hoverable">
        <a href="{% url 'chemlogs:container' container_id=transaction.container.id %}">
            Return to Container Page
        </a>
    </p>
    </div>
</body>
</html>