{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{transaction.chemical.name}} Transaction {{transaction.id}}</title>
    <link rel="stylesheet" href="{% static 'chemlogs/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'chemlogs/images/icon.png' %}">
</head>
<body>
    <div class="header">
        <a href="/chemlogs/chemicalSearch"><img src="{% static 'chemlogs/images/icon.png' %}">
            <h4>ChemLogs</h4></a>
    </div>
    <div class="header-bottom"></div>
    
    <!--<form action="/chemlogs/transaction/{{transaction.id}}/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Modify Transaction</h2></legend>
            <p>Chemical: {{transaction.chemical.name}}</p>
            <p>Date: {{transaction.time.date}}</p>
            <p>Time: {{transaction.time.time}}</p>
            <label for="amount">Amount {% if transaction.amount > 0 %}added{% else %}removed{% endif %}: </label>
            <input id="amount" name="amount" type="text" value="{{transaction.getAbsoluteAmount}}">
        </fieldset>
        <input type="submit" value="Change">
    </form>-->

    <form method="POST">
        {% csrf_token %}
        <legend><h2>Modify Transaction</h2></legend>
        <p>Chemical: {{transaction.container.contents.chemical.name}} ({{transaction.container.contents.getInfo}})</p>
        <p>Container: {{transaction.container.getHeader}}</p>
        <p>Date: {{transaction.time.date}}</p>
        <p>Time: {{transaction.time.time}}</p>
        <p>User: {{transaction.user}}</p>
        <br>
        <p><strong>If this transaction was recorded incorrectly, fix it here.</strong></p>
        {{ edit_form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
    <p class="hoverable"><a href="/chemlogs/container/{{transaction.container.id}}/">Return to Container Page</a></p>
</body>
</html>