/* This is a stylesheet that all of the app's pages will use.
 * Prepend {% load static %} to a template and link the stylesheet normally.
 * Example in templates/chemical.html
*/

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f2fbff;
   margin: 2vw 2vw;
   width: 96vw;
   overflow-x: hidden;
   -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
   scrollbar-width: none;  /* hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* header bar on all pages */

.header {
   padding: 2vw;
   font-family: Arial, Helvetica, sans-serif;
   color: #314876;
   display: float; /*what does this do here*/
   margin-bottom: 0.5vw;
}

.header h4 {
   display: inline;
   color: #314876;
   font-size: 7vw; /* this should be 1.4x the img's height, so they match heights*/
   line-height: 0vw;
}

.header img {
   height: 5vw;
   width: auto;
}

.header-bottom {
   height: 3vw;
   width: 105vw; /* extra wide so that position doesn't need to be exact */
   position: absolute;
   left: -4vw;
   background-image: linear-gradient(rgba(150, 150, 150, 0.2), rgba(255, 255, 255, 0));
}


/* standard text tags */

h1 {
   font-size: 8.5vw;
   color: #103071;
   margin-bottom: 0.5vh;
   margin-top: 0.1vh;
}

h2 {
   font-size: 6vw;
   color: #103071;
}

h3 {
   color: #314876;/*#1cb16c;*/
   font-family: Verdana, Tahoma, sans-serif;
   text-transform: uppercase;
   font-weight: medium;
   font-size: 4vw;
   margin-top: 3vw;
   margin-bottom: 1vw;
}

p, p a, input[type=text], input[type=number], select {
   font-size: 4vw;
   color: #608a8e;
   padding: 0vh;
   margin: 0vh;
   text-decoration: none;
   list-style-type: none;
}

td, td a {
   font-size: 4vw;
   color: #608a8e;
   padding-bottom: 0.5vh;
   margin: 0vh;
   text-decoration: none;
   list-style-type: none;
}

li, li a {
   font-size: 4vw;
   color: #608a8e;
   padding: 0vw 0vw 1vw;
   margin: 0vw;
   text-decoration: none;
   list-style-type: none;
}

ul {
   padding-left: 4vw; /* if this property is not set, list items will be indented significanly */
}

td {
   text-align: center;
}

td a {
   display: block;
}

p strong {
   font-size: 4vw;
   color: #608a8e;
}

/* used for state headers on chemical.html */
.state {
   position: sticky;
   top: 0vw;
   background: #f2fbff;
   padding: 1.5vw 1.5vw 4vw 0vw;
}

.hoverable:hover {
   text-decoration: underline;
   text-decoration-color: #608a8e;
   overflow:hidden;
}

th {
   font-size: 4vw;
   color: #608a8e;
}

.indented {
   padding-left: 4vw;
   padding-right: 4vw;
   padding-bottom: 2vw;
}

a:link, a:visited, a:hover, a:active{
   text-decoration: none;
   overflow: hidden;
 }

/* chemical entry dropdown attributes */
#addChem {
   text-align: center;
   font-size: 5vw;
   margin: 3vw;
   padding: 3vw;
   background-color: #608a8e;
   color: #f2fbff; 
   border: none;
   border-radius: 2vw; 
   width: 75vw;
}

.edit, .del, input[type=submit] {
   color: #f2fbff;
   transition-duration: 0.5s;
   font-size: 4vw;
   border: none;
   margin: 0vw;
   padding: 0.7vw 1.6vw 0.9vw; /* top right bottom [left] */
   border-radius: 2vw;
   width: fit-content;
   height: fit-content;
   display: inline;
}

#addChem:hover, .edit:hover {
   background-color: #4b6d72;
   overflow:hidden;
}

#addChemForm {
   margin-top: 0vw;
   margin-left: 6vw;
   text-align: left;
   border: none;
}

#trSlide {
   appearance: none;
   width: 60%;
   height: 1.3vw;
   color: #f2fbff;
   background-color: #608a8e; 
   opacity: 0.6; 
   margin-left: 15%;
}

.edit, input[type=submit] {
   background-color: #608a8e;
}

.del {
   background-color: #f08a42;
}

.del:hover {
   background-color: #db7227;
   overflow:hidden;
}

#searchDiv {
   text-align: center;
   margin: 8vw;
   margin-bottom: 0vw;
}

#searchbar, #searchbar:focus-visible {
   width: 70vw;
   height: 6vw;
   background-color: #f2fbff;
   border: none;
   border-bottom: 0.5vw solid #314876;
}

#search-button {
   width: 4vw; 
   height: 4vw;
}

#requireSomeInStock {
   margin-left: 10vw;
   height: 3vw;
}

label {
   font-size: 4vw;
}

input[type=text], input[type=number], select {
   padding: 1vw;
   border: 0.3vw solid #608a8e;
   border-radius: 1.4vw;
   background-color: #f2fbff;
   outline: none;
   font-size: 4vw;
   box-sizing: border-box;
   width: 100%;
}

input[type=text]:focus, input[type=number]:focus, select:focus {
   border-color: #314876;
}

/*form p label {
   position: relative;
   top: 1vw;
}*/

form p label {
   display: inline;
   width: fit-content;
   margin-right: 1vw;
   white-space: nowrap;
}

form p {
   padding: 1vw 0vw 0vw;
   display: flex;
   width: 100%;
   height: 7vw;
   align-content: space-around;
   align-items: center;
   flex-wrap: nowrap;
}

/* header text with #results. On main page. */
#resultTxt {
   margin: 0vw;
   color: #314876;
   font-size: 4vw;
}

/* Box of search results. On main page. */
#results {
   padding: 6vw 7vw 1vw;
   margin: 6vw;
   margin-top: 2vw;
   background-color: #cededd;
   border-radius: 3vw;
}

.button {
   display: flex;
}

.content {
   display: block; 
   margin: 1vw;
   padding: 0vw 10vw;
   text-align: left;
   background-color: #f2fbff;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

img {
   height: 4vw;
   width: 4vw;
}

#transactTbl {
   margin: 6vw;
   margin-top: 8vw;
}

#login {
   display: block; 
   text-align: center;
   padding: 2vw;
}

#login {
   display: block; 
   margin: 2vw;
   margin-left: 60vw;
   padding: 2vw;
}

#transaction {
   margin: 6vw;
}

#modifyTransaction p select {
   background-color: #608a8e;
   color: #f2fbff;
   padding-left: 1.5vw;
   padding-bottom: 1vw;
   border: none;
   border-radius: 2vw;
   width: 60vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; /* this error is not a problem */
}

.small-form input {
   max-width: 20vw;
}

.small-input input[type=text] {
   max-width: 20vw;
}

table {
   width: 100%;
}

/* used for divs whose purpose it to center their content, or for centered content */
.center {
   margin: auto;
   width: fit-content;
}

/* text shown in empty inputs */
::placeholder {
   color: #608a8e;
}